# Ambiente virtual do Poetry
.venv/

# Arquivos de cache do projeto
comodos/cache/*

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos temporários do sistema
*.log
*.bak
*.swp
.DS_Store

# Arquivos de desenvolvimento
.idea/
*.code-workspace

# Arquivos sensíveis (ex.: chaves de API)
.env
secrets.json